# ignorar los archivos de dependencias
node_modules/

# ignorar los archivos de configuracion local
.env
config.local.json

# ignorar los archivos de registro
*.log
logs/

# ignorar los archivos temporales
uploads/
tmp/
temp/
*.tmp
*.temp
# ignorar los archivos de base de datos
*.db
*.sqlite
*.sql

# ignorar los archivos y carpetas del sistema e imagenes
.DS_Store
Thumbs.db
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
